/* Exercise 3 starts here */

body {
   background-color: rgb(156, 186, 190); 
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
   color:black;
   font-size: 8px;   
}

h1 {
    color: crimson;
    font-size: 16px;
}

h3 {
    color: rgb(139, 58, 74);
    font-size: 12px;
}

h4 {
    color: snow;
    font-size: 12px;
    text-decoration-line: underline;
}

a {
    color:rgb(78, 3, 3)
    
}

a:hover {
    color: floralwhite;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

figcaption {
    color: mintcream;
    background-color:mediumvioletred;
    text-align: center;
}

.slot-machinefigure {
    text-align: center;
    text-indent: 0;
    width: 60%;
}

.pajazzofigure {
    text-align: center;
    text-indent: 0;
    float: right;
}